<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>		
		<add name="UNIP_Desenvolvimento" providerName="System.Data.SqlClient" connectionString="String_Conexao_Desenvolvimento" />
		<add name="UNIP_Homologacao" providerName="System.Data.SqlClient" connectionString="String_Conexao_Homologacao" />
		<add name="UNIP_Producao" providerName="System.Data.SqlClient" connectionString="String_Conexao_Producao" />
	</connectionStrings>
</configuration>