<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="UNIP_Desenvolvimento" providerName="System.Data.SqlClient" connectionString="Data Source=MSV_R01M16\UNIP;Initial Catalog=UNIP;User ID=sa;Password=unip;Encrypt=False" />
		<add name="UNIP_Homologacao" providerName="System.Data.SqlClient" connectionString="Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;" />
		<add name="UNIP_Producao" providerName="System.Data.SqlClient" connectionString="Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>